div{
    display: inline-block;
}
html{
    background: #e6ecf0;
}
body{
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 14px;
    overflow-y: scroll;
    color: #14171a;
    text-align: center;
}
    
.top{
    background: #FFFFFF;
    height: 46px;
    width: 100%;
    
    .toolbar{
        height: 100%;
        width: 1000px;
        position: relative;
        margin: 0 auto;
        text-align: right;
    }
}

.body{
    .header{
        content: "";
        height: 175px;
        width: 100%;
        background: #1DA1F2;
    }
    .footer{
        text-align: left;
        padding: auto;
        width: 1000px;
        float: center;
        text-align: center;
        
        .left{
            background: #FFFFFF;
            float: left;
            vertical-align: top;
            margin: 0;
            height: 450px;
            width: 190px;
        }
        .center{
            text-align: left;
            background: #FFFFFF;     
            vertical-align: top;
            margin: 0;
            width: 600px;
            
            .content{
                float: center;          
                border: 1px #14171a;
                width: 600px;
                
                .imgbox{
                    float: left;
                    height: 90px;
                    width: 90px;
                }
                .contentbox{
                    text-align: left;
                    float: center;
                    width: 450px;
                }
                .accessbox{
                    float: right;            
                    width: 45px;
                }
            }
        }
        .right{
            text-align: left;
            background: #FFFFFF;
            float: right;            
            vertical-align: top;
            margin: 0;
            height: 800px;
            width: 190px;
        }
    }
}